@model HomePageViewModel
<div class="row">
    <div class="col-md-8 offset-md-2 jumbotron">
        <h2>@Model.Question.Title</h2>
        <hr />
        <p>@Model.Question.Text </p>
        <hr />
        <span>@Model.Question.User.Name</span>
        on
        <span>@Model.Question.DatePosted</span>
        <br />
        <span>Tags:</span>
        @foreach (var tag in Model.Question.QuestionsTags)
        {
            <span class="badge badge-primary">@tag.Tag.Name</span>
            <br />
        }
        <span>Likes: </span> <span data-question-id="@Model.Question.Id" id="likes-count">@Model.Question.Likes.Count</span>
        <br />
        @if (Model.GetUser != null)
        {
            @if (Model.Question.Likes.Any(l => l.UserId == Model.GetUser.Id))
            {

                <span style="font-size: 40px;cursor: pointer;" class="oi oi-heart text-danger" id="like-question" data-question-id="@Model.Question.Id"></span>
            }

            else
            {
                <span style="font-size: 40px;cursor: pointer;" class="oi oi-heart" id="like-question" data-question-id="@Model.Question.Id"></span>
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3>Answers:</h3>
    </div>
</div>
@if (Model.Question.Answers.Count==0)
{
    <div class="row">
        <div class="col-md-8 offset-md-2 card card-body bg-light">
            <h3>No answers yet, be the first to submit one!</h3>
        </div>
    </div>
}
else
{
    foreach (var answer in Model.Question.Answers)
    {
        <div class="row">
            <div class="col-md-8 offset-md-2 card card-body bg-light">
                <div>@answer.Text</div>
                <br />
                <span>Answered by @answer.User.Name</span>
                <span>on</span>
                <span>@answer.TimeAnswered</span>
                <hr />
            </div>
        </div>
    }
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8 offset-md-2 card card-body bg-light mt-4">
            <h2>Submit an answer</h2>
            <form method="post" action="/home/addanswer">
                <input type="hidden" name="questionid" value="@Model.Question.Id" />
                <textarea class="form-control" placeholder="Type your answer here..." rows="10" name="text"></textarea>
                <br />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}
@section scripts
{
    <script src="/js/view-question.js"></script>
}



